<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Carros</title>
    <link th:href="@{/css/style.css(v=3)}" rel="stylesheet">
</head>
<body>
<h1>Estoque de Carros</h1>

<div class="table-container">

    <div th:if="${Mensagem}" class="mensagem" th:text="${Mensagem}"></div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th class="coluna-img">Img</th>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Marca</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${carro}">
            <td th:text="${c.id}"></td>
            <td class="coluna-img"> <img th:src="${c.imgUrl}"class="img-carro" > </td>
            <td th:text="${c.modelo}"></td>
            <td th:text="${c.placa}"></td>

            <td th:text="${c.marca != null ? c.marca.nome : 'Sem Marca'}"></td>

            <td>
                <a class="btn-editar" th:href="@{/carro/ui/alterar/{id}(id=${c.id})}">Editar</a> |
                <a th:if="${c.cliente == null}" class="btn-deletar" th:href="@{/carro/ui/deletar/{id}(id=${c.id})}">Deletar</a>

                <span th:unless="${c.cliente == null}" class="btn-deletar link-bloqueado" title="O carro precisa estar disponível para deletar" style="cursor: help;">Deletar</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="link-container">
        <a th:href="@{/carro/ui/criar}">+ Adicionar Novo Carro</a>
        <a th:href="@{/marca/ui/listar/all}">Ir para a lista de Marcas</a>
        <a th:href="@{/cliente/ui/listar/all}">Ir para a lista de Clientes</a>
    </div>
</div>
</body>
</html>